<div
  style="text-align: center; max-width: 900px; margin: 0 auto; margin-top: 20px"
>
  <div class="p-galleria">
    <div class="p-galleria-content">
      <ng-container *ngFor="let image of images">
        <div class="p-galleria-item">
          <img [src]="image.source" class="w-full rounded-t-lg" alt="imagen-{{image.source}"/>
        </div>
      </ng-container>
    </div>
    <div class="p-galleria-thumbnails">
      <ng-container *ngFor="let image of images">
        <div class="p-galleria-thumbnail">
          <img [src]="image.source" class="max-w-xs rounded-lg" alt="imagen-{{image.source}"/>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="seccionPerfil">
  <div class="perfil">
    <br />
    <div class="border-solid border-2 border-gray-200 p-4 rounded">
      <legend class="text-lg font-bold mb-2">Perfil de la Fundación</legend>
      <p class="m-0">
        La fundación Patitas al Rescate tiene como objetivo principal la
        adopción de animales abandonados, así como también permitir a la
        comunidad brindar apoyo, mediante las opciones de voluntariado y
        apadrinamiento, con la finalidad de que los animales encuentren un hogar
        seguro y se sientan felices.
      </p>
    </div>
    <br />
    <div class="border-solid border-2 border-gray-200 p-4 rounded">
      <legend class="text-lg font-bold mb-2">Misión</legend>
      <p class="m-0">
        Concientizar a la comunidad sobre el respeto que se merecen nuestros
        animalitos ayudando y brindando apoyo en su intención de cuidar a los
        animales sin hogar. Promover la tenencia de animales mediante la
        vacunación, esterilización y adopción.
      </p>
    </div>
    <br />
    <div class="border-solid border-2 border-gray-200 p-4 rounded">
      <legend class="text-lg font-bold mb-2">Visión</legend>
      <p class="m-0">
        Ser una entidad reconocida por su labor sin ningún fin de lucro,
        proporcionando rescates y cuidados que contribuyan a una sociedad en
        armonía con los animales.
      </p>
    </div>
  </div>
  <div
    style="
      text-align: center;
      max-width: 900px;
      margin: 0 auto;
      margin-top: 20px;
    "
  >
    <img
      src="assets/imagenes/perfilPatitasRescate.jpg"
      class="img-fluid imagenInformacionPerfil"
      alt="gatitos-perritos"
    />
  </div>
</div>
<div class="contenedor">
  <h1 class="titulo">Noticias destacadas</h1>
</div>

<div class="contenedor">
  <br />
  <div class="item">
    <div
      class="max-w-xs rounded overflow-hidden shadow-lg"
      style="width: 360px"
    >
      <img class="w-full" src="assets/imagenes/1.jpeg" alt="noticia 1" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Fundaciones recolectarán alimento para mascotas en Guayaquil.
        </div>
        <p class="text-gray-700 text-base text-justify">
          Médicos veterinarios de la Unidad de Bienestar Animal (UBA)
          recorrieron las instalaciones del predio donde funcionaba un refugio.
        </p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="max-w-xs rounded overflow-hidden shadow-lg">
      <img class="w-full" src="assets/imagenes/publi.jpeg" alt="noticia 2" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Bienestar animal registra más de 150 adopciones de mascotas en el 2022
        </div>
        <p class="text-gray-700 text-base text-justify">
          Médicos veterinarios de la Unidad de Bienestar Animal (UBA)
          recorrieron las instalaciones del predio donde funcionaba un refugio.
        </p>
      </div>
    </div>
  </div>

  <div class="item">
    <div
      class="max-w-xs rounded overflow-hidden shadow-lg"
      style="width: 360px"
    >
      <img class="w-full" src="assets/imagenes/3.jpeg" alt="noticia 3" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Bienestar animal registra más de 150 adopciones de mascotas en el 2022
        </div>
        <p class="text-gray-700 text-base text-justify">
          Médicos veterinarios de la Unidad de Bienestar Animal (UBA)
          recorrieron las instalaciones del predio donde funcionaba un refugio.
        </p>
      </div>
    </div>
  </div>

  <div class="item">
    <div
      class="max-w-xs rounded overflow-hidden shadow-lg"
      style="width: 360px"
    >
      <img class="w-full" src="assets/imagenes/3.jpeg" alt="noticia 3" />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          Bienestar animal registra más de 150 adopciones de mascotas en el 2022
        </div>
        <p class="text-gray-700 text-base text-justify">
          Médicos veterinarios de la Unidad de Bienestar Animal (UBA)
          recorrieron las instalaciones del predio donde funcionaba un refugio.
        </p>
      </div>
    </div>
  </div>
</div>
