<nav class="bg-[#250F17]">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-[#E6DFB7] hover:bg-[#E6DFB7] hover:text-[#250F17] focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          (click)="changeMenu()"
          aria-expanded="false"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>

          <svg
            class="{{ openMenu ? 'block' : 'hidden' }} h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>

          <svg
            class="{{ !openMenu ? 'block' : 'hidden' }} h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div
        class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
      >
        <div class="hidden sm:ml-6 sm:block">
          <div class="">
            <div class="flex space-x-4">
              <ng-container *ngFor="let item of items">
                <div
                  class="relative {{ item.childs ? 'group' : '' }} {{
                    item.active ? activeLink : inactiveLink
                  }} px-3 py-2 rounded-md transition-all duration-200"
                  (click)="showMenu(item)"
                >
                  <div
                    *ngIf="item?.childs"
                    [matMenuTriggerFor]="menu"
                    class="absolute inset-0 bg-transparent z-10"
                  ></div>
                  <mat-menu
                    #menu="matMenu"
                    (closed)="showMenu(item)"
                    overlayPanelClass="Seagrego"
                  >
                    <button
                      mat-menu-item
                      *ngFor="let options of item.childs"
                      [routerLink]="options.link"
                    >
                      <span
                        class="group transition-all duration-500 flex gap-x-3 items-center rounded-lg p-1 hover:bg-gray-50"
                      >
                        <div
                          class="mt-1 flex transition-all duration-500 h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-white"
                        >
                          <i
                            class="{{
                              options.icon
                            }} text-base transition-all duration-500 text-gray-600 group-hover:text-[#250F17]"
                          ></i>
                        </div>
                        <div>
                          <a
                            [routerLink]="options.link"
                            class="font-semibold text-gray-900"
                          >
                            {{ options.label }}
                            <span class="inset-0"></span>
                          </a>
                        </div>
                      </span>
                    </button>
                  </mat-menu>
                  <div class="relative z-0">
                    <i
                      *ngIf="item.preIcon"
                      class="{{
                        item.preIcon
                      }} pr-1 transition-all duration-500 group-focus:-rotate-180"
                    ></i>
                    <a
                      *ngIf="!item?.childs"
                      [routerLink]="item.link"
                      class="text-sm font-medium cursor-pointer"
                      >{{ item.label }}
                    </a>

                    <a
                      *ngIf="item?.childs"
                      class="text-sm font-medium cursor-pointer"
                      >{{ item.label }}
                    </a>

                    <i class="ms-1 hidden md:inline-flex {{ item.icon }}"></i>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="false"
        class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
      >
        <!-- Profile dropdown -->
        <div class="relative ml-3">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <img
                class="h-8 w-8 rounded-full"
                src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
                alt=""
              />
            </button>
          </div>
          <div
            class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
          >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-0"
              >Your Profile</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-1"
              >Settings</a
            >
            <a
              href="#"
              class="block px-4 py-2 text-sm text-gray-700"
              role="menuitem"
              tabindex="-1"
              id="user-menu-item-2"
              >Sign out</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->
  <div
    class="{{
      openMenu
        ? 'block visible max-h-screen opacity-100'
        : 'invisible max-h-0 opacity-0'
    }} transition-all duration-500 h-auto sm:hidden"
    id="mobile-menu"
  >
    <div class="space-y-1 px-1 pb-2 pt-1">
      <div
        *ngFor="let item of items"
        class="relative {{
          item.active ? activeLink : inactiveLink
        }} rounded-md p-0"
      >
        <div
          *ngIf="!item.childs"
          (click)="formatearFormulario()"
          class="px-3 py-2"
        >
          <i class="{{ item.icon }} pr-1"></i>
          <a
            *ngIf="!item?.childs"
            [routerLink]="item.link"
            class="text-sm font-medium cursor-pointer"
            >{{ item.label }}
            <span class="absolute inset-0"></span>
          </a>
        </div>
        <mat-accordion *ngIf="item?.childs" class="p-0">
          <mat-expansion-panel [expanded]="item.active">
            <mat-expansion-panel-header
              class="group"
              [ngClass]="{ hed: item.active }"
            >
              <mat-panel-title>
                <i
                  class="ps-0 transition-all duration-500 text-[#E6DFB7] group-hover:text-[#250F17]  {{
                    item.icon
                  }}"
                ></i>
                <span
                  class="text-sm font-medium text-[#E6DFB7] group-hover:text-[#250F17]"
                  >{{ item.label }}</span
                >
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              *ngFor="let options of item.childs"
              class="group relative route transition-all duration-500 flex gap-x-3 items-center rounded-lg p-1 box-border hover:bg-white"
            >
              <div
                class="mt-1 flex transition-all duration-500 h-11 w-11 flex-none items-center justify-center rounded-lg bg-[#E6DFB7] group-hover:bg-[#FCD857]"
              >
                <i
                  class="{{
                    options.icon
                  }} text-base transition-all duration-500 text-[#E6DFB7] group-hover:text-[#250F17]"
                ></i>
              </div>
              <div>
                <a [routerLink]="options.link">
                  <span
                    class="font-semibold text-[#E6DFB7] group-hover:text-[#250F17]"
                    >{{ options.label }}</span
                  >
                </a>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</nav>
