$color-bg-primary: #250f17;
$color-bg-secondary: #fcd857;
$color-bg-thirdy: #e6dfb7;

.login {
  border-radius: 10px;
  border: 2px black;
  border: outset;
  padding: 10px;
  margin-right: 5px;
}

.login:hover {
  border-radius: 10px;
  border: 1px ridge rgb(145, 145, 145);
  border: ridge;
  padding: 10px;
  margin-right: 5px;
  background-color: $color-bg-secondary;
  cursor: pointer;
}

::ng-deep .mat-mdc-menu-content {
  padding: 12px !important;
}

::ng-deep .mat-mdc-menu-panel {
  border-radius: 20px !important;
}

.logout {
  margin-right: 5px;
  padding: 15px;
  border-radius: 15px;
}

.logout:hover {
  padding: 15px;
  margin-right: 5px;
  border-radius: 15px;
  background-color: rgb(233, 231, 231);
  cursor: pointer;
}

@keyframes enteringAnimation {
  from {
    opacity: 0;
    display: none;
    transform: translateY(3px);
  }
  to {
    opacity: 1;
    display: block;
    transform: translateY(0);
  }
}

@keyframes leavingAnimation {
  from {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(3px);
  }
}

.options-menu {
  &.entering {
    animation: enteringAnimation 400ms ease-out;
  }

  &.leaving {
    animation: leavingAnimation 150ms ease-in;
  }
}
