$color-bg-primary: #250F17;
$color-bg-secondary: #FCD857;

.header {
   display: flex;
   justify-content: space-between; /* Coloca los elementos en los extremos horizontales */
   align-items: center; /* Centra verticalmente los elementos */
   position: initial;
   top: 0;
   background-color: $color-bg-secondary;
 } 

::ng-deep p.text-base.m-0{
   margin: 0 !important;
}
 
 
