<!-- Product List -->
<section class="wallpaper grid content-end w-full">
  <div class="relative w-full">
    <div class="absolute bg-[black] opacity-50 w-full h-full"></div>
    <h1 class="relative font-bold text-center text-white m-0.5">Adopciones</h1>
    <p class="relative text-center text-white">
      Brinda ayuda económica a uno de nuestros animales rescatados y dale una
      mejor calidad de vida
    </p>
  </div>
</section>
<section class="py-10 xs:px-14 sm:px-0 bg-gray-100">
  <div class="relative" *ngIf="loadingPets">
    <app-pet-loading></app-pet-loading>
  </div>
  <div
    *ngIf="!loadingPets"
    class="mx-auto grid max-w-6xl grid-cols-1 gap-6 p-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4"
  >
    <article
      *ngFor="let pet of petsActivo"
      class="rounded-xl bg-white shadow-lg hover:shadow-xl hover:transform hover:scale-105 ease-in-out duration-300"
    >
      <div
        class="relative flex items-end overflow-hidden rounded-xl h-40"
        [ngClass]="{ 'animate-pulse': !pet.loadingImg }"
      >
        <img
          [src]="pet.foto"
          alt="Imagen-mascota-{{ pet.nombre }}"
          (error)="errorImg($event, pet)"
          class="absolute inset-0 transition-opacity duration-500 {{
            pet.loadingImg ? 'opacity-100' : 'opacity-0'
          }} object-cover object-center w-full h-full"
        />
        <div
          class="absolute inset-0 transition-opacity {{
            pet.loadingImg ? 'opacity-0' : 'opacity-100'
          }} duration-500 bg-placeholder w-full h-full"
        >
          <img
            [src]="pet.foto"
            class="w-0 h-0"
            alt="placeholder"
            (load)="loadingImg(pet.idAnimal)"
          />
        </div>
      </div>
      <div class="p-2 mt-1 pt-3 flex flex-col items-center">
        <p *ngIf="pet.loadingImg" class="text-slate-700 text-xl font-semibold">
          {{ pet.nombre }}
        </p>
        <div *ngIf="!pet.loadingImg" class="animate-pulse">
          <div class="h-6 w-12 mb-3 bg-slate-400 rounded"></div>
        </div>

        <element-button
          [Label]="button"
          [Disabled]="pet.idEstadoSalud === healthStatus"
          (click)="Adoptar(pet)"
        />
      </div>
    </article>
  </div>
</section>
