.wallpaper {
  height: 60vh;
  background-image: url(../../../assets/imagenes/wallpaper-adoptme.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-placeholder {
  background-image: url(../../../assets/imagenes/placeholders.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 576px) {
  .wallpaper {
    height: 40vh;
  }
}
