<body class="body bg-white">
  <header
    class="fixed shadow-lg w-full z-30 flex bg-white p-2 items-center justify-center h-16 px-10"
  >
    <div
      class="logo name-app leading-none text-base transform ease-in-out duration-500 flex-none h-full flex items-center justify-center"
      [ngClass]="{ 'ml-[70px]': !statusSideNav }"
    >
      PAWS RESCUE
    </div>
    <!-- SPACER -->
    <div class="grow h-full flex items-center justify-center"></div>
    <div class="flex-none h-full text-center flex items-center justify-center">
      <div
        matRipple
        [matMenuTriggerFor]="beforeMenu"
        class="flex space-x-3 items-center px-3"
      >
        <div class="hidden user-text md:block text-sm md:text-base text-black">
          {{ user.name }}
        </div>
        <div class="flex gap-3 items-center">
          <img
            class="h-9 w-9 hover:ring-4 shadow object-cover cursor-pointer relative ring-blue-700/30 rounded-full"
            [src]="user.imagen"
            alt="Avatar User"
          />
        </div>
      </div>
      <mat-menu
        #beforeMenu="matMenu"
        xPosition="before"
        panelClass="bg-orange-500"
        overlayPanelClass="bg-orange-600"
        class="{{ this.themeDark ? 'bg-black' : '' }}"
      >
        <button mat-menu-item class="group">
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
            </svg>
          </span>
          <span> Setting </span>
        </button>
        <button
          mat-menu-item
          class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"
              />
            </svg>
          </span>
          <span class=""> Wishlist </span>
        </button>
        <button
          mat-menu-item
          class="px-3 py-3 text-sm font-medium flex items-center space-x-2 hover:bg-slate-400"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
              />
            </svg>
          </span>
          <span (click)="loggout()"> Cerrar sesión </span>
        </button>
      </mat-menu>
    </div>
  </header>
  <aside
    class="w-52 fixed transition transform ease-in-out duration-1000 z-50 flex h-screen bg-[#1E293B]"
    aria-label="aside"
    [ngClass]="{
      '-translate-x-40': !statusSideNav,
      'translate-x-none': statusSideNav
    }"
  >
    <!-- open sidebar button -->
    <div
      class="max-toolbar w-full -right-6 transition transform ease-in duration-300 flex items-center justify-between border-4 border-white bg-[#1E293B] absolute top-2 rounded-full h-12"
      [ngClass]="{
        'translate-x-0': statusSideNav,
        'translate-x-24': !statusSideNav,
        'scale-x-0': !statusSideNav
      }"
    >
      <div
        class="flex items-center pl-4 space-x-3 group from-[#A07A68] to-[#72493a] rounded-full text-white"
      >
        <div class="name-app text-[15px] transform ease-in-out duration-300">
          PAWS RESCUE
        </div>
      </div>
    </div>
    <div
      (click)="openNav()"
      class="-right-6 transition transform ease-in-out duration-500 flex border-4 border-white bg-[#1E293B] hover:bg-[#A07A68] absolute top-2 p-3 rounded-full text-white hover:rotate-45"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        strokeWidth="{3}"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          strokeLinecap="round"
          strokeLinejoin="round"
          d="M3.75 6A2.25 2.25 0 016 3.75h2.25A2.25 2.25 0 0110.5 6v2.25a2.25 2.25 0 01-2.25 2.25H6a2.25 2.25 0 01-2.25-2.25V6zM3.75 15.75A2.25 2.25 0 016 13.5h2.25a2.25 2.25 0 012.25 2.25V18a2.25 2.25 0 01-2.25 2.25H6A2.25 2.25 0 013.75 18v-2.25zM13.5 6a2.25 2.25 0 012.25-2.25H18A2.25 2.25 0 0120.25 6v2.25A2.25 2.25 0 0118 10.5h-2.25a2.25 2.25 0 01-2.25-2.25V6zM13.5 15.75a2.25 2.25 0 012.25-2.25H18a2.25 2.25 0 012.25 2.25V18A2.25 2.25 0 0118 20.25h-2.25A2.25 2.25 0 0113.5 18v-2.25z"
        />
      </svg>
    </div>
    <!-- MAX SIDEBAR-->
    <div
      class="max text-white mt-20 flex-col space-y-2 w-full h-[calc(100vh)]"
      [ngClass]="{
        hidden: !statusSideNav,
        flex: statusSideNav
      }"
    >
      <div
        *ngFor="let item of routesNav"
        class="relative {{
          item.active ? activeLink : inactiveLink
        }} rounded-md transition-all duration-200"
      >
        <div
          *ngIf="!item?.childs"
          class="group rounded-lg transition-all mx-3 p-2 hover:bg-white hover:text-[#250F17]"
        >
          <a [routerLink]="item.link" class="text-sm font-medium cursor-pointer"
            >{{ item.label }}
            <i
              class="ms-1 hidden md:inline-flex text-[#FFF] group-hover:text-[#250F17] {{
                item.icon
              }}"
            ></i>
          </a>
        </div>

        <mat-accordion *ngIf="item?.childs">
          <mat-expansion-panel [expanded]="item.active">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="text-sm font-medium text-white">{{
                  item.label
                }}</span>
                <i
                  class="ms-1 hidden md:inline-flex text-white {{ item.icon }}"
                ></i>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              *ngFor="let options of item.childs"
              class="group relative route transition-all duration-500 flex gap-x-3 items-center rounded-lg p-1 box-border hover:bg-white"
            >
              <div
                class="mt-1 flex transition-all duration-500 h-11 w-11 flex-none items-center justify-center rounded-lg bg-gray-50 group-hover:bg-[#936B60]"
              >
                <i
                  class="{{
                    options.icon
                  }} text-base transition-all duration-500 text-gray-600 group-hover:text-[#250F17]"
                ></i>
              </div>
              <div>
                <a [routerLink]="options.link">
                  <span
                    class="font-semibold text-[#FFF] group-hover:text-[#250F17]"
                    >{{ options.label }}</span
                  >
                </a>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
    <!-- MINI SIDEBAR-->
    <div
      class="mini mt-20 flex flex-col space-y-2 w-full h-[calc(100vh)]"
      [ngClass]="{
        flex: !statusSideNav,
        hidden: statusSideNav
      }"
    >
      <div
        class="hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          strokeWidth="{1.5}"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            strokeLinecap="round"
            strokeLinejoin="round"
            d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25"
          />
        </svg>
      </div>
      <div
        class="hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"
          />
        </svg>
      </div>
      <div
        class="hover:ml-4 justify-end pr-5 text-white hover:text-purple-500 w-full bg-[#1E293B] p-3 rounded-full transform ease-in-out duration-300 flex"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-4 h-4"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 6a7.5 7.5 0 107.5 7.5h-7.5V6z"
          />
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.5 10.5H21A7.5 7.5 0 0013.5 3v7.5z"
          />
        </svg>
      </div>
    </div>
  </aside>
  <!-- CONTENT -->
  <section
    class="content transform ease-in-out duration-500 pt-20 px-2 md:px-5 pb-4"
    [ngClass]="{
      'ml-12': !statusSideNav,
      'md:ml-60': statusSideNav
    }"
  >
    <router-outlet></router-outlet>
  </section>
</body>
