::ng-deep {
  &.mat-mdc-snack-bar-label {
    padding: 0 !important;
  }

  &.mat-typography p{
    margin: 0 !important
  }
  &.mat-mdc-snack-bar-container .mdc-snackbar__surface {
    padding: 0 !important;
  }
}

.fs-text{
  font-size: 25px;
}