<div class="container">
    <div class="cardTo border-solid border-2 rounded my-3">
        <app-apadrinamiento-form [formData]="ApadrinamientoData" (editedDataEmitter)="getData($event)"></app-apadrinamiento-form>
    </div>
    <div class="sticky-buttons-container">
        <div  style="text-align: right;" class="my-2">
            <button style="border-radius: 10px;" class="btn btn-light backgroundbtn mx-4"
                (click)="save()">Aceptar</button>
            <button style="border-radius: 10px;" class="btn btn-outline-danger " (click)="CloseModal()">Cancelar</button>
        </div>

 
    </div>
</div>