<!-- Product List -->
<section class="wallpaper grid content-end w-full">
  <div class="relative w-full">
    <div class="absolute bg-[black] opacity-50 w-full h-full"></div>
    <h1 class="relative font-bold text-center text-white m-0.5">
      Voluntariado
    </h1>
    <p class="relative text-center text-white">
      Ayúdanos a dar amor y cuidado a nuestros animales rescatados
    </p>
  </div>
</section>
<section class="py-10 xs:px-14 sm:px-0 bg-gray-100 text-center" style="margin-bottom: 50ch;">
  <element-button [Label]="button" (Click)="openModal()" />
</section>