.backgroundbtn {
    background-color: #250F17;
    color: white;
}

.backgroundbtn:hover {
    background-color: #FCD857;
    color: #250F17;

}
.sticky-buttons-container {
    position: sticky;
    bottom: 0;
    background-color: white; 
    padding: 10px; 
    border-top: 1px solid #ddd; 
    z-index: 1; 
}

