footer {
    background-color: #26cecb;
    padding-bottom: 10px;
}

.redesSociales {
    padding-top: 50px;
}

.enlaces {
    padding-top: 0px;
    font-size: 15pt;
}

.custom-footer {
    text-align: center;
    color: white;
    border-radius: 0;
  }
  
  .custom-redesSociales {
    justify-content: flex-end;
    display: flex;
    list-style: none;
  }
  
  .custom-btn {
    border: 15px;
    margin: 1rem;
  }
  
  .custom-btn-facebook {
    color: white;
  }
  
  .custom-btn-twitter {
    color: white;
  }
  
  .custom-btn-instagram {
    color: white;
  }
  
  .custom-nav {
    justify-content: center;
  }
  
  .custom-nav-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .custom-nav-link {
    color: white;
    text-decoration: none;
  }
  
  .custom-copyright {
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  
